<h1>単語帳</h1>

問題：

<%= @question.sample.question %>

<br>
<br>
<%= form_for :params, url: 'jugde' do |f| %>
<%= select_tag :question_id, options_from_collection_for_select(@question, :id, :description) %>
<%= f.submit "送信" %>
<% end %>
<br>
<br>
<br>
<%= link_to 'メインメニュー', '/users/show' %>